<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 인터페이스에 전체경로가 들어갑니다. -->

<mapper namespace="com.team404.snsboard.mapper.SnsBoardMapper">
	
	<insert id="insert">
		insert into snsboard(bno, writer, content, uploadpath, fileloca, filename, filerealname)
		values(snsboard_seq.nextval, #{writer}, #{content}, #{uploadPath}, #{fileLoca}, #{fileName}, #{fileRealName})
	</insert>

</mapper>